.post {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 80%;
  flex-direction: row;
  display: flex;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.post:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5);
}

.ListBody {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  overflow-y: auto;
}
.cardRight {
  margin-right: 10px;
}
.cardLeft {
  flex-direction: column;
  border-left: 0.1em solid rgba(160, 160, 255, 0.1);
  padding-left: 30px;
  margin: 20px;
}
.desc {
  font-size: 15px;
}
.desc-i {
  font-size: 14px;
  font-style: italic;
}
.cardTitle {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.image {
  object-fit: cover;
  width: 360px;
  height: 200px;
}

@media screen and (max-width: 769px) {
  .post {
    flex-direction: column;
    padding: 0px;
    width: 90%;
  }
  .ListBody {
    margin: 0px;
  }
  .cardRight {
    margin-right: 0px;
  }
  .cardLeft {
    border-left: 0em solid rgba(160, 160, 255, 0.1);
    padding-left: 0px;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .desc,
  .desc-i {
    display: none;
  }
}
