.body-background {
  /* background: url(../../assests//images//6.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.mask {
  background: rgba(253, 252, 252, 0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-title {
  font-size: 50px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.icon-back {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.temperature {
  position: absolute;
  top: 5%;
  right: 5%;
  background: rgba(253, 252, 252, 0.5);
  border-radius: 10px;
  padding: 20px;
}
